<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>Aring</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Delta</string>
      <string>increment</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>A</string>
      <string>Atilde</string>
      <string>Adotbelow</string>
      <string>Aogonek</string>
      <string>Abreve</string>
      <string>Adieresis</string>
      <string>Aringacute</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>Cacute</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>C</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>Etilde</string>
      <string>E</string>
      <string>Egrave</string>
      <string>Edieresis</string>
      <string>OE</string>
      <string>Ecaron</string>
      <string>Emacron</string>
      <string>Eacute</string>
      <string>Edotaccent</string>
      <string>Ecircumflex</string>
      <string>AEacute</string>
      <string>Ebreve</string>
      <string>Edotbelow</string>
      <string>Eogonek</string>
      <string>AE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>Gdotaccent</string>
      <string>Gbreve</string>
      <string>Gcedilla</string>
      <string>G</string>
      <string>Gcircumflex</string>
      <string>Gcaron</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>Eng</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncedilla</string>
      <string>Nhookleft</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>Lslash</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcedilla</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>oslash</string>
      <string>oslashacute</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quoteright</string>
      <string>quoteleft</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oogonek</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Otilde</string>
      <string>Schwa</string>
      <string>Omacron</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Obreve</string>
      <string>Eth</string>
      <string>Q</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>D</string>
      <string>Ohungarumlaut</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>underscore</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>Rcaron</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcedilla</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>S</string>
      <string>Scedilla</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>Tcedilla</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>T</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>Umacron</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
      <string>Ubreve</string>
      <string>Uhungarumlaut</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udieresis</string>
      <string>Uacute</string>
      <string>U</string>
      <string>Udotbelow</string>
      <string>Ucircumflex</string>
      <string>J</string>
      <string>IJacute</string>
      <string>Uogonek</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>Wcircumflex</string>
      <string>Wacute</string>
      <string>Wgrave</string>
      <string>Wdieresis</string>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>K</string>
      <string>Kcedilla</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Ymacron</string>
      <string>Y</string>
      <string>Ytilde</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zdotaccent</string>
      <string>Zacute</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>periodcentered</string>
      <string>endash</string>
      <string>emdash</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>bullet</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>onesuperior</string>
      <string>trademark</string>
      <string>asterisk</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>ccircumflex</string>
      <string>ccedilla</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>cacute</string>
      <string>c</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>dotlessi</string>
      <string>f_f_i</string>
      <string>f_i</string>
      <string>fi</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>f_f_l</string>
      <string>f_l</string>
      <string>fl</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcedilla</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>ntilde</string>
      <string>hcircumflex</string>
      <string>ncedilla</string>
      <string>nhookleft</string>
      <string>napostrophe</string>
      <string>n</string>
      <string>h</string>
      <string>m</string>
      <string>eng</string>
      <string>nacute</string>
      <string>hbar</string>
      <string>ncaron</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>odieresis</string>
      <string>otilde</string>
      <string>eogonek</string>
      <string>oe</string>
      <string>ae</string>
      <string>etilde</string>
      <string>obreve</string>
      <string>odotbelow</string>
      <string>egrave</string>
      <string>ograve</string>
      <string>thorn</string>
      <string>oacute</string>
      <string>aeacute</string>
      <string>b</string>
      <string>edotbelow</string>
      <string>schwa</string>
      <string>p</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>eacute</string>
      <string>oogonek</string>
      <string>ebreve</string>
      <string>edieresis</string>
      <string>ecircumflex</string>
      <string>emacron</string>
      <string>edotaccent</string>
      <string>o</string>
      <string>e</string>
      <string>ecaron</string>
      <string>ocircumflex</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>gcircumflex</string>
      <string>ijacute</string>
      <string>f_f_ij</string>
      <string>f_ij</string>
      <string>q</string>
      <string>gbreve</string>
      <string>g</string>
      <string>gcedilla</string>
      <string>jcircumflex</string>
      <string>gcaron</string>
      <string>j</string>
      <string>ij</string>
      <string>gdotaccent</string>
      <string>dotlessj</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcedilla</string>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>s</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>sacute</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>ycircumflex</string>
      <string>yacute</string>
      <string>ytilde</string>
      <string>y</string>
      <string>ygrave</string>
      <string>ydieresis</string>
      <string>ymacron</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>wacute</string>
      <string>wdieresis</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>kcedilla</string>
      <string>k</string>
      <string>kra</string>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>zdotaccent</string>
      <string>z</string>
      <string>zcaron</string>
      <string>zacute</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>Aring</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Delta</string>
      <string>increment</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>A</string>
      <string>Atilde</string>
      <string>Adotbelow</string>
      <string>Aogonek</string>
      <string>Abreve</string>
      <string>Adieresis</string>
      <string>Aringacute</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>AEacute</string>
      <string>AE</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>Oslash</string>
      <string>Oslashacute</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.F</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.G</key>
    <array>
      <string>oslash</string>
      <string>oslashacute</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eng</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>IJacute</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcedilla</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcedilla</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncedilla</string>
      <string>Nhookleft</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcedilla</string>
      <string>Thorn</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotesingle</string>
      <string>quoteright</string>
      <string>quoteleft</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>underscore</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>periodcentered</string>
      <string>endash</string>
      <string>emdash</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>bullet</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>onesuperior</string>
      <string>trademark</string>
      <string>asterisk</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>Ccircumflex</string>
      <string>Gbreve</string>
      <string>G</string>
      <string>Gcircumflex</string>
      <string>Ccaron</string>
      <string>Ohungarumlaut</string>
      <string>Cacute</string>
      <string>Gdotaccent</string>
      <string>Odotbelow</string>
      <string>Schwa</string>
      <string>Ccedilla</string>
      <string>C</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Gcedilla</string>
      <string>OE</string>
      <string>Obreve</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>Gcaron</string>
      <string>Q</string>
      <string>O</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Ocircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>S</string>
      <string>Scedilla</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>Tcedilla</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>T</string>
      <string>Tbar</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uhungarumlaut</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Udieresis</string>
      <string>Uacute</string>
      <string>U</string>
      <string>Udotbelow</string>
      <string>Ucircumflex</string>
      <string>Uogonek</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>Wcircumflex</string>
      <string>Wacute</string>
      <string>Wgrave</string>
      <string>Wdieresis</string>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Ymacron</string>
      <string>Y</string>
      <string>Ytilde</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Yacute</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zdotaccent</string>
      <string>Zacute</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a</key>
    <array/>
    <key>public.kern2.f</key>
    <array>
      <string>f_f_ij</string>
      <string>f_ij</string>
      <string>fl</string>
      <string>f</string>
      <string>f_f_l</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>f_f</string>
      <string>fi</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>jcircumflex</string>
      <string>dotlessj</string>
      <string>j</string>
      <string>nhookleft</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>kcedilla</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcedilla</string>
      <string>ldot</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>ntilde</string>
      <string>rcedilla</string>
      <string>iacute</string>
      <string>ijacute</string>
      <string>i</string>
      <string>ncedilla</string>
      <string>iogonek</string>
      <string>n</string>
      <string>kra</string>
      <string>m</string>
      <string>rcaron</string>
      <string>r</string>
      <string>imacron</string>
      <string>eng</string>
      <string>ibreve</string>
      <string>ij</string>
      <string>icircumflex</string>
      <string>nacute</string>
      <string>idotbelow</string>
      <string>racute</string>
      <string>itilde</string>
      <string>dotlessi</string>
      <string>igrave</string>
      <string>idieresis</string>
      <string>ncaron</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>dcroat</string>
      <string>odieresis</string>
      <string>q</string>
      <string>otilde</string>
      <string>eogonek</string>
      <string>ccircumflex</string>
      <string>oe</string>
      <string>gbreve</string>
      <string>ccedilla</string>
      <string>etilde</string>
      <string>g</string>
      <string>gcedilla</string>
      <string>egrave</string>
      <string>obreve</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>cacute</string>
      <string>c</string>
      <string>gcaron</string>
      <string>oacute</string>
      <string>edotbelow</string>
      <string>schwa</string>
      <string>ohungarumlaut</string>
      <string>ccaron</string>
      <string>omacron</string>
      <string>cdotaccent</string>
      <string>eacute</string>
      <string>d</string>
      <string>gdotaccent</string>
      <string>ebreve</string>
      <string>oogonek</string>
      <string>edieresis</string>
      <string>gcircumflex</string>
      <string>ecircumflex</string>
      <string>dcaron</string>
      <string>emacron</string>
      <string>edotaccent</string>
      <string>o</string>
      <string>e</string>
      <string>ecaron</string>
      <string>ocircumflex</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>s</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>sacute</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>utilde</string>
      <string>u</string>
      <string>ucircumflex</string>
      <string>uring</string>
      <string>udieresis</string>
      <string>umacron</string>
      <string>udotbelow</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ugrave</string>
      <string>uogonek</string>
      <string>uhungarumlaut</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>ycircumflex</string>
      <string>yacute</string>
      <string>ytilde</string>
      <string>y</string>
      <string>ygrave</string>
      <string>ydieresis</string>
      <string>ymacron</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>wacute</string>
      <string>wdieresis</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>zdotaccent</string>
      <string>z</string>
      <string>zcaron</string>
      <string>zacute</string>
    </array>
  </dict>
</plist>
