<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
      <key>public.kern2.I</key>
      <integer>-20</integer>
      <key>public.kern2.M</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.B</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.K</key>
      <integer>-50</integer>
      <key>public.kern2.L</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.j</key>
      <integer>90</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>backslash</key>
      <integer>30</integer>
      <key>public.kern2.E</key>
      <integer>10</integer>
      <key>public.kern2.K</key>
      <integer>-20</integer>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.M</key>
      <integer>30</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.I</key>
      <integer>-20</integer>
      <key>public.kern2.L</key>
      <integer>10</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
      <key>public.kern2.I</key>
      <integer>-40</integer>
      <key>public.kern2.M</key>
      <integer>-40</integer>
      <key>question</key>
      <integer>-40</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.W</key>
      <integer>20</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>ibreve</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <integer>30</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
    </dict>
    <key>icircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
    </dict>
    <key>idieresis</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>50</integer>
      <key>public.kern2.W</key>
      <integer>50</integer>
      <key>public.kern2.X</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
    </dict>
    <key>imacron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <integer>30</integer>
      <key>public.kern2.X</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
    </dict>
    <key>itilde</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.X</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>40</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.I</key>
      <integer>-80</integer>
      <key>public.kern2.K</key>
      <integer>10</integer>
      <key>public.kern2.L</key>
      <integer>-20</integer>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.B</key>
      <integer>-20</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.B</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.B</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>icircumflex</key>
      <integer>20</integer>
      <key>idieresis</key>
      <integer>20</integer>
      <key>itilde</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>ibreve</key>
      <integer>10</integer>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>idieresis</key>
      <integer>40</integer>
      <key>igrave</key>
      <integer>10</integer>
      <key>imacron</key>
      <integer>20</integer>
      <key>itilde</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.B</key>
      <integer>-90</integer>
      <key>public.kern2.E</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.K</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.B</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.t</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
      <key>public.kern2.F</key>
      <integer>-20</integer>
      <key>public.kern2.I</key>
      <integer>-80</integer>
      <key>public.kern2.K</key>
      <integer>10</integer>
      <key>public.kern2.L</key>
      <integer>-60</integer>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.B</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.K</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.W</key>
      <integer>10</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.w</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.B</key>
      <integer>-50</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.K</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.B</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.K</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Q</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.B</key>
      <integer>20</integer>
      <key>public.kern2.I</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>50</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.B</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.B</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>Germandbls</key>
      <integer>-10</integer>
      <key>ibreve</key>
      <integer>10</integer>
      <key>icircumflex</key>
      <integer>40</integer>
      <key>idieresis</key>
      <integer>40</integer>
      <key>igrave</key>
      <integer>10</integer>
      <key>imacron</key>
      <integer>20</integer>
      <key>itilde</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.B</key>
      <integer>-100</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.E</key>
      <integer>-40</integer>
      <key>public.kern2.F</key>
      <integer>-40</integer>
      <key>public.kern2.I</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.K</key>
      <integer>-80</integer>
      <key>public.kern2.L</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.B</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>Germandbls</key>
      <integer>-20</integer>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>idieresis</key>
      <integer>50</integer>
      <key>igrave</key>
      <integer>30</integer>
      <key>imacron</key>
      <integer>30</integer>
      <key>itilde</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.B</key>
      <integer>-90</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.D</key>
      <integer>-20</integer>
      <key>public.kern2.F</key>
      <integer>-30</integer>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.K</key>
      <integer>-60</integer>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-25</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>Germandbls</key>
      <integer>-10</integer>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>40</integer>
      <key>idieresis</key>
      <integer>50</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>imacron</key>
      <integer>30</integer>
      <key>itilde</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.B</key>
      <integer>-60</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.F</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.K</key>
      <integer>-30</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>ibreve</key>
      <integer>20</integer>
      <key>idieresis</key>
      <integer>40</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>imacron</key>
      <integer>20</integer>
      <key>itilde</key>
      <integer>10</integer>
      <key>public.kern2.B</key>
      <integer>-20</integer>
      <key>public.kern2.F</key>
      <integer>-20</integer>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.K</key>
      <integer>10</integer>
      <key>public.kern2.L</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>Germandbls</key>
      <integer>-20</integer>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>10</integer>
      <key>idieresis</key>
      <integer>50</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>imacron</key>
      <integer>30</integer>
      <key>itilde</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.B</key>
      <integer>-80</integer>
      <key>public.kern2.C</key>
      <integer>-30</integer>
      <key>public.kern2.D</key>
      <integer>-20</integer>
      <key>public.kern2.F</key>
      <integer>-40</integer>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.K</key>
      <integer>-50</integer>
      <key>public.kern2.L</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-25</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>icircumflex</key>
      <integer>20</integer>
      <key>idieresis</key>
      <integer>20</integer>
      <key>imacron</key>
      <integer>10</integer>
      <key>itilde</key>
      <integer>10</integer>
      <key>public.kern2.F</key>
      <integer>-30</integer>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>Dcroat</key>
      <integer>20</integer>
      <key>eth</key>
      <integer>10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.B</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>eth</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.B</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.w</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>ibreve</key>
      <integer>40</integer>
      <key>icircumflex</key>
      <integer>60</integer>
      <key>idieresis</key>
      <integer>70</integer>
      <key>igrave</key>
      <integer>50</integer>
      <key>imacron</key>
      <integer>50</integer>
      <key>itilde</key>
      <integer>60</integer>
      <key>public.kern2.I</key>
      <integer>40</integer>
      <key>public.kern2.K</key>
      <integer>-40</integer>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.M</key>
      <integer>20</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.F</key>
      <integer>10</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>idieresis</key>
      <integer>20</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.K</key>
      <integer>-40</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.K</key>
      <integer>-30</integer>
      <key>public.kern2.M</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>10</integer>
      <key>public.kern2.K</key>
      <integer>-20</integer>
      <key>public.kern2.M</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.K</key>
      <integer>10</integer>
      <key>public.kern2.L</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.L</key>
      <integer>-20</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>50</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.B</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
